body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
}
.sketch-container {
  height: 100vh;
  display: flex;

  align-items: center;
  flex-direction: column;
}
.sketch-grid {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  background-color: #eff6ff;
}

.sketch-grid div {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.hovered {
  background-color: blue;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 100px;
  color: #2e86de;
}

.btn-gridGenerate {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #2e86de;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.btn-gridGenerate:hover {
  background-color: #1e65a3;
}
